/* userDisplayContainer */
.userDisplayContainer {
    background-color: rgba(51, 51, 51, 0.8);
    flex-basis: 100px;
    flex-grow:1;
    padding: 10px;
    max-height: 60dvh;
    border-radius: 10px;
    color: rgb(219, 219, 219); 

}

.userDisplayContainer{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction:row; 
    align-content: stretch; 
}

.userDisplayContainer h1 {
    font-weight:200;
    flex-basis: 100%;
    
}

.inputWrapper{
    flex-basis: 100%;
}

/* titleInput */
.titleInput {
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 0px;
    border-radius:5px;
    outline: none;
    font-size: 1.05em;
    padding:5px;
    color: rgb(48, 48, 48);
    overflow: hidden;
}

.titleInput:focus {
    color: white;
}


.userListContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row; 
    flex-basis:100%;
    gap:5px;
    overflow-y: auto;
    align-items: start;
    align-content: start;
    border-radius: 5px;
    max-height:45vh;
}



.exportButton {
    
    border: 1px solid #148F40;
    background-color: #1ED760;
    color: white;
    font-size: large;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    align-self:flex-end; 
    flex-basis:100%;
}

.exportButton{
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.exportButton img{
    height:30px;
    margin-left:10px;
}

.exportButton:hover {
    background-color: #0C5727;
}


@media only screen and (min-width: 1100px) {
    .userDisplayContainer {
        flex-basis: 35%;
        padding: 10px;
        max-height: 60dvh;
        border-radius: 10px;

    }
}