
.userDisplayContainer {
    background-color: rgba(107, 105, 105, 0.45);
    flex-basis: 35%;
    box-sizing: border-box;
    padding: 10px;
    max-height: 60dvh;
    border-radius: 10px;
    
}

.userListContainer {
   height: 85%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    align-items: start;
    align-content: start;
    border-radius: 5px;
}

.titleInput{
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(107, 105, 105, 0);
    border: 0px;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 1.5em;
    color: rgb(48, 48, 48);
    overflow: hidden;
}

.titleInput:focus{
    color: white;
}

.exportButton{
    width: 100%;
    background-color: rgba(0,0,0,0.85);
    color: white;
    font-size: large;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
}