
.resultDisplayContainer {
    background-color: rgba(107, 105, 105, 0.45);
    flex-basis: 100%;
    padding: 10px;
    border-radius: 10px;
    height: 70dvh;
    
}

.resultListContainer {
   height: calc(100% - 50px);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    align-items: start;
    border-radius: 5px;
    align-content: start;
}

@media only screen and (min-width: 1100px )  {
    .resultDisplayContainer {
        flex-basis: 55%;
        box-sizing: border-box;
        padding: 10px;
        max-height: 60dvh;
        height: 70dvh;
        
    }
  }