* {
  margin: 0px;
  padding: 0px;
}



:root{
  --appContainerState : flex ;
  --authenticatorState : block ;
  --backgroundImg: url(../../../public/images/yellow_background.webp);
  /* Header Variable can be found in Header.module.css */  
  --contentContainerHeight: calc(100vh - var(--headerHeight));
}

/* ---------------- App Container ---------------- */
.AppContainer {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: red;
  background-image: var(--backgroundImg);
}

/* ---------------- Content Container ---------------- */
.ContentContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  gap:20px;


  min-height: var(--contentContainerHeight);
  width: 80vw;
  margin: 0 auto;
  box-sizing: border-box;
}



.functionContainer{
  box-sizing: border-box;
  margin: 0px 5%;
  flex-wrap: wrap;
  align-content:stretch;
  justify-content: space-around;
  display: var(--appContainerState);
}

.AuthenticatorContainer {
  display: var(--authenticatorState) ;
}

@media only screen and (min-width: 768px)  {
  .functionContainer{
    margin: 0px 20%;
  }
}