
.songDetailContailer{
    background-color: rgba(0,0,0,0.75);
    color: white;
    flex-basis: 100%;
    box-sizing: border-box;
    flex-grow: 1;
    padding: 10px;
    padding-right:  50px;
    border-radius: 10px;
    border: 1px solid grey;
    position: relative;
    margin-bottom: 5px;

}
.songDetailContailer h3{
    border-bottom: dotted 1px grey;
}

.singer, .album {
    color: grey;
    font-weight: 200;
}

.asctionButton {
    cursor: pointer;
    display: flex;
    width: 20px;
    height: 80%;
    position: absolute;
    right: 10px;
    top:10px;
    border: 1px dotted grey;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    background-color: rgba(0,0,0,0.75);
}

.asctionButton:hover {
    color: black;
    background-color: rgba(228, 228, 228, 0.75);
    font-size: 800;
}

.asctionButton .sign {
    flex-grow: 1;
}

.songDetailContailer video{
    margin-top: -80px; 
 
}

