
.resultDisplayContainer {
    background-color: rgba(107, 105, 105, 0.45);
    flex-basis: 55%;
    box-sizing: border-box;
    padding: 10px;
    max-height: 60dvh;
    border-radius: 10px;
    margin-right: 10px;
    height: 70dvh;
    
}

.resultListContainer {
   height: 90%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-y: auto;
    align-items: start;
    border-radius: 5px;
    align-content: start;
}