:root{
    --headerHeight: 80px;
    --headerShaddow: 10px;
}



.headerContainer {
    background-color: #1F1F1F;
    height: var(--headerHeight);
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    padding: 20px 0px ;
    border-radius:  0px 0px 15px 15px  ;
    box-shadow: 0px var(--headerShaddow) 15px rgba(0,0,0, 0.5) ;
    background-image: url(../../../public/images/headerBackground.webp);
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
}

.headerContainer h1 {
    font-size: 2em;
    color: white;
    margin: 0px;
}